@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Euclid Circular A', sans-serif;
}



/* FOOTER */

.bg-footer {
    background-color: #000000;
    width: 100%;
    height: max-content;
}

.wrap-footer {
    padding-top: 22px;
    position: relative;
    width: 80%;
    height: 220px;
    margin: auto;
    border-bottom: 1px solid #3f3f3f;
}

.footer-logo {
    width: 180px;
    height: auto;
    opacity: 0.2;
    position: absolute;
}

.wrap-footer-content {
    padding-left: 200px;
    display: inline-flex;
}
.link h3 {
    margin-bottom: 4px;
}
.link a {
    margin-top: 20px;
    text-decoration: none;
    opacity: 0.5;
    line-height: 22px;
}

.contact-footer {
    margin-left: 62px;
    line-height: 22px;
}
.contact-footer h3 {
    margin-bottom: 4px;
}
.contact-footer a, .contact-footer p {
    opacity: 0.5;
}

.footer-social {
    position: absolute;
    right: 10px;
    bottom: 0%;
}
.footer-social i {
    font-size: 22px;
    opacity: 0.8;
}


.more-footer {
    width: 80%;
    height: 52px;
    margin: auto;
    position: relative;
}
.more-footer h1 {
    opacity: 0.6;
}
.more-footer p {
    position: absolute;
    right: 0%;
    top: 50%;
    font-size: 12px;
}




/* RESPONSIVE */
@media (max-width: 1600px) {
    .wrap-content {
        width: 85%;
    }
}

@media (max-width: 1080px) {
    .content {
        display: inline-block;
    }
    .wrap-content {
        width: 74%;
    }
    .wrap-learn {
        padding-left: 0px;
    }
}

/* TABLET  */
@media (max-width: 966px) {
    .wrap-content {
        width: 86%;
    }
    .node {
        width: auto;
    }
}

@media (max-width: 844px) {
    .wrap-hero {
        width: 80%;
    }
}
@media (max-width: 760px) {
    .navbar img {
        margin-left: 20px;
    }
    .block {
        width: 100%;
        object-fit: contain
    }
    .node {
        width: 90%;
        object-fit: contain;
    }
    .node-content p {
        width: auto;
        object-fit: contain;
    }


    .img-portal {
        width: 140px;
    }

    .sz-1 {
        font-size: 18px;
    }
    .sz-2 {
        font-size: 32px;
    }
    .sz-3 {
        font-size: 32px;
    }

    .pm-portal {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .wrap-footer {
        height: max-content;
    }
    .wrap-footer-content {
        display: inline-block;
    }
    .contact-footer {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 8px;
    }
    .more-footer p {
        top: 75%;
    }
    .more-footer h1 {
        opacity: 0.1;
    }


}


/* MOBILE  */
@media (max-width: 520px) {
    .navbar img {
        width: 54px;
    }
    .about-us {
        margin-top: 40px;
    }
    .node_icon, .learn-img {
        width: 54px;
        height: 54px;
    }
    .node h1 {
        font-size: 32px;
    }
    .node h4 {
        font-size: 12px;
    }
    .wrap-p{
        width: 112%;
    }
    .wrap-p p {
        font-size: 16px;
    }
    .line {
        width: 180px;
    }

    .wrap-achiev {
        height: 120px;
        gap: 14px;
    }
    .wrap-achiev span{
        font-size: 14px;
    }

    .wrap-learn {
        padding-top: 62px;
    }
    .learn-p h1 {
        font-size: 28px;
    }
    .learn-p p {
        font-size: 16px;
    }
    .wrap-find h2 {
        font-size: 18px;
    }

    .more-footer p {
        left: 0%;
        opacity: 0.8;
    }
    .contact-footer {
        margin-bottom: 32px;
    }
    .wrap-footer-content {
        padding-left: 2px;
    }
    .more-footer {
        height: 120px;
    }

}
